.about_description {
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.8;
  margin-bottom: 40px;
}
.about_skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.about_skills_box {
  margin-bottom: 50px;
  padding: 24px;
  border-bottom: 2px solid #2c98f0;
}
.about_description > i {
  margin-bottom: 20px;
  font-size: 30px;
  color: #2c98f0;
}
.about_skills_box > i {
  font-size: 30px;
  margin-bottom: 20px;
}
.about_skills_box > h3 {
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: capitalize;
  font-size: 20px;
}

.about_skills_box:nth-child(2) > i {
  color: red;
}
.about_skills_box:nth-child(2) {
  border-bottom: 2px solid red;
}
.about_skills_box:nth-child(3) > i {
  color: rgb(1, 254, 68);
}
.about_skills_box:nth-child(3) {
  border-bottom: 2px solid rgb(1, 254, 68);
}
.about_skills_box:nth-child(4) > i {
  color: rgb(145, 6, 245);
}
.about_skills_box:nth-child(4) {
  border-bottom: 2px solid rgb(145, 6, 245);
}

@media screen and (min-width: 768px) {
  .about_skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  .about_skills_box {
    flex: 1;
  }
}
