.section {
  margin-top: 20px;
  padding: 45px;
}
.section_title {
  font-size: 10px;
  color: #999999;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 15px;
  font-weight: 500;
}
.section_subtitle {
  font-size: 18px;
  color: black;
  font-family: "Playfair Display";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 20px;
  line-height: 1.8;
}
.about_skills {
  padding: 35px;
}
