.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.308);
  padding: 30px 20px;
}

.footer-content {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: rgba(0, 0, 0, 0.552);
}

.footer-text {
  font-size: 14px;
  text-align: center;
}

.social-icons {
  display: flex;
  gap: 18px;
}

.social-icons a {
  color: black;
  font-size: 20px;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background-color: #5e38f8;
  color: #fdfffe;
  transform: translateY(-4px);
}
