#hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  padding: 0 30px;
  background-color: #efe7ec;
  background-image: url("../Images/photo.png");
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
}
#hero > h1 {
  font-size: 28px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
}
#hero > p {
  font-family: "quicksand", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 30px;
}
#hero > button {
  width: 300px;
  border: 1px solid #000;
  padding: 10px 15px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: transparent;
}
#hero > button > span {
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#hero > button > i {
  font-size: 20px;
}
